    html,
    body {
        height: 100%;
    }

    .page-wrap {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -120px;
    }

    .page-wrap:after {
        content: "";
        display: block;
    }

    footer,
    .page-wrap:after {
        /* .push must be the same height as footer */
        height: 120px;
    }

    footer {
        background-color: #ECECEC;
        padding-top: 20px;
        height: 120px;
    }
